{% extends 'base.html.twig' %}

{% block title %}Ejemplo{% endblock %}

{% block body %}
    <h1>Ejemplo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ejemplo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ ejemplo.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ ejemplo.apellido }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ ejemplo.edad }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ejemplo_index') }}">back to list</a>

    <a href="{{ path('app_ejemplo_edit', {'id': ejemplo.id}) }}">edit</a>

    {{ include('ejemplo/_delete_form.html.twig') }}
{% endblock %}
